<div class="container">
 
    <div class="row">
        
        <div class="col-md-8 col-md-offset-2 digitized">
            
                <strong>pejst /peɪst/</strong>
                <div class="counters"> 
                    chars: <span id="chars"></span> | 
                    words: <span id="words"></span> | 
                    line: <span id="lines"></span>
                </div>
                <ul><li></li></ul>
                <textarea class="form-control" rows="19" cols="88"></textarea>
        </div>
        
    </div>
    
</div>
